{% extends 'base_dashboard.html' %}
{% block content %}
    
<div class="centralizar">
    <div class="card-info">
        <h2 class="titulo-pagina">Meu Perfil</h2>

        <div class="info-row">
            <p><strong>Nome:</strong> {{ usuario.nome }}</p>
            <p><strong>Email:</strong> {{ usuario.email }}</p>
        </div>

        {% if agendamento %}
            <div class="info-row">
                <p>
                    <strong>Seu horário:</strong>
                    {{ agendamento.horario.data.strftime('%d/%m/%Y') }} às {{ agendamento.horario.hora.strftime('%H:%M') }}
                </p>
            </div>

            <a class="btn-cancelar" href="{{ url_for('agendamento.cancelar_agendamento') }}">Cancelar agendamento</a>
        {% else %}
            <p class="texto-vazio">Você ainda não possui horário agendado.</p>
        {% endif %}

    </div>
</div>



{% endblock %}
