@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;600&family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F3EDE3;
    padding: 30px;
}

header {
    display: flex;
    align-items: center;
    padding: 50px ;
    height: 10vh;
    background-color: #6B4F3A;
    border-radius: 30px;
    justify-content: space-between;
}

header h1{
    color: white;
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.usuario-info{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
i{
    color: white;
    font-size: 25px;
}
.btn-sair{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #4A3728;
    display: flex;
    align-items: center;
    justify-content: center;
}