{% extends 'base_dashboard.html' %}
{% block content %}


<div class="centralizar">
  <div class="card-info">
    <h2 class="titulo-pagina">Histórico</h2>

    {% if historico %}
      <ul class="lista-historico">
        {% for ag in historico %}
          <li>
            <span>{{ ag.horario.data.strftime('%d/%m/%Y') }} às {{ ag.horario.hora.strftime('%H:%M') }}</span>
            <strong>{{ ag.status if ag.status is defined else 'ativo' }}</strong>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="texto-vazio">Sem histórico de agendamentos.</p>
    {% endif %}

  </div>
</div>


{% endblock %}
