<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Romerito Barbershop</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body class="dashboard-body">

<header class="dash-header">
    <h1 class="titulo">
        <i class="fa-solid fa-scissors"></i> Romerito Barbershop
    </h1>

    <div class="usuario-info">
        <div class="container-user">
            <i class="fa-regular fa-user"></i>
        </div>

        <span>Olá, <strong>{{ current_user.nome }}</strong></span>

        <a href="{{ url_for('logout') }}" class="btn-sair">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
    </div>
</header>

<main class="dashboard-main">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
