{% extends 'base_dashboard.html' %}

{% block content %}
<header>
    <h2 class="titulo-horarios">Horários do Dia</h2>
</header>

<main>
    <ul class="lista-horarios">
    {% for h in horarios %}
        <li class="item-horario">

            <span class="texto-horario">
                {{ h.data.strftime('%d/%m/%Y') }} — {{ h.hora.strftime('%H:%M') }}
            </span>

            {% if h.agendamento %}
                {% if h.agendamento.user_id == current_user.id %}
                    <span class="badge badge-meu"><p>Seu horário</p></span>
                {% else %}
                    <span class="badge badge-indisponivel"><p>Agendado</p></span>
                {% endif %}
            {% else %}
                {% if h.disponivel %}
                    <a class="btn-agendar" href="{{ url_for('agendar', horario_id=h.id) }}">
                        Agendar
                    </a>
                {% else %}
                    <span class="badge badge-indisponivel">Indisponível</span>
                {% endif %}
            {% endif %}

        </li>
    {% endfor %}
</ul>
    <div class="nav-dashboard">
    <a href="{{ url_for('dashboard') }}" class="nav-item">
        <i class="fa-solid fa-clock"></i>
        Horários
    </a>

    <a href="{{ url_for('perfil') }}" class="nav-item">
        <i class="fa-solid fa-user"></i>
        Meu Perfil
    </a>

    <a href="{{ url_for('meu_agendamento') }}" class="nav-item">
        <i class="fa-solid fa-calendar-check"></i>
        Meu Agendamento
    </a>

    <a href="{{ url_for('historico') }}" class="nav-item">
        <i class="fa-solid fa-list"></i>
        Histórico
    </a>
</div>


</main>

{% endblock %}
